@import url(./darktheme.css);

.chat {
    display: flex;
    position: relative;
    width: 100%;
}

.botonLinkmi {
    display: inline-block;
    padding: 8px 16px;
    background-color: #26b3e1;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
}

.video-container {
    cursor: pointer;
    overflow: hidden;
    transition: height 0.3s;
  }
  
  .expanded {
    height: 400px; /* Ajusta la altura según tus necesidades */
  }

.botonLinkmi:hover {
    background-color: #11a6eb;
}

.chat__body {
    min-width: 300px;
    flex: 40%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.chat__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.48;
    background: #c2c2c2;
}

.chat__header,
.chat__footer,
.chat__date-wrapper,
.chat__msg-group,
.chat__encryption-msg {
    z-index: 10;
}

.chat__header {
    /* Needed for the options btn to stay on top */
    z-index: 20;
}

/* Chat Header Component  */

.chat__avatar-wrapper {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.chat__contact-wrapper {
    flex: 1;
    cursor: pointer;
}

.chat_id {
    flex: 0.2;
    cursor: pointer;
}
h3 .negritable{
    font-weight: bold;
}
.chat__contact-name,
.chat__contact-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__contact-name {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 2px;
}

.chat__contact-desc {
    color: #00000099;
    font-size: 0.75rem;
}

.chat__actions {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.chat__action {
    margin-left: 25px;
    cursor: pointer;
}

.chat__action:not(.options-btn) {
    display: inline-block;
}

.chat__action-icon {
    color: rgb(145, 145, 145);
}

.chat__action-icon--search {
    width: 30px;
    height: 30px;
}

/* End Chat Header Component  */

/* Chat Content */

.chat__content {
    flex: 1;
    position: relative;
    background: #E4DCD4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 5% 2pc;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}

.chat__date-wrapper {
    text-align: center;
    margin: 10px 0 14px;
    position: relative;
}

.chat__date {
    background: #E1F2FA;
    display: inline-block;
    color: #000000;
    font-size: 0.75rem;
    padding: 7px 10px;
    border-radius: 5px;
}

.chat__encryption-msg {
    background: #14bdc8;
    color: #000000;
    font-size: 0.77rem;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 8px;
    border-radius: 5px;
    line-height: 20px;
}

.chat__encryption-icon {
    color: black;
    margin-right: 5px;
    margin-bottom: -1px;
}

.chat__msg-group {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
    position: relative;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.chat__msg {
    padding: 6px 7px 8px 9px;
    margin-bottom: 12px;
    font-size: 0.85rem;
    color: #000000;
    width: fit-content;
    max-width: 40%;
    line-height: 20px;
    border-radius: 5px;
    position: relative;
    white-space: pre-line;
    display: flex;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.chat__msg span {
    hyphens: none;
    word-break: break-word;
    color: #12213b;
    font-size: 12px;
    font-weight: 300;
}

.chat__msg.chat__img-wrapper {
    padding: 2px;
}

.chat__img {
    width: 100%;
    height: 100%;
}

.chat__msg--sent {
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    background: #69eaf3;
    align-self: flex-end;
    font-weight: bold;
}

.chat__msg--rxd {
    background: #EFF7F9;
    align-self: flex-start;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}




.chat__msg-filler {
    width: 65px;
    display: inline-block;
    height: 3px;
    background: transparent;
}

.chat__msg-footer {
    position: absolute;
    display: flex;
    align-items: center;
    right: 7px;
    bottom: 3px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.7rem;
    font-weight: 500;
}
.chat__msg--username{
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    bottom: -3px;
    color: rgba(3, 2, 2, 0.45);
    font-size: 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

.sidebar-contact__bottom-content2{
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 6px 7px 8px 9px;
    margin-bottom: 12px;
    font-size: 0.85rem;
    color: #000000;
    width: fit-content;
    max-width: 40%;
    line-height: 20px;
    border-radius: 5px;
    position: relative;
    white-space: pre-line;
    display: flex;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}
.sidebar-contact__message-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    color: #00000099;
    font-size: 0.5rem;
    margin-right: 3px;
    overflow: hidden;
}

.chat__msg-status-icon {
    color: #B3B3B3;
    margin-left: 3px;
}

.chat__msg-status-icon--blue {
    color: #0DA9E5;
}

.chat__img-wrapper .chat__msg-footer,
.chat__img-wrapper .chat__msg-options-icon,
.chat__img-wrapper .chat__msg-status-icon {
    color: white;
}

.chat__msg-options {
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 3px;
    pointer-events: none;
    transition: all 0.2s;
}

.chat__msg--rxd .chat__msg-options {
    background: white;
}

.chat__msg--sent .chat__msg-options {
    background: #DBF8C6;
}

.chat__img-wrapper .chat__msg-options {
    background: transparent;
}

.chat__msg:hover .chat__msg-options {
    opacity: 1;
    pointer-events: unset;
}

.chat__msg-options-icon {
    color: rgb(145, 145, 145);
    width: 20px;
    height: 20px;
}

/* End Chat Content */

.chat__footer {
    background: rgb(240, 240, 240);
    position: relative;
}

.chat__scroll-btn {
    position: absolute;
    right: 15px;
    bottom: 80px;
    width: 42px;
    height: 42px;
    z-index: -1;
    border-radius: 50%;
    color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2)
}

/* Emoji Tray */

.emojis__wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 0;
    min-height: 0;
    transition: all 0.4s ease;
    background: inherit;
}

.emojis__wrapper--active {
    height: 40vh;
    min-height: 350px;
    transition: all 0.4s ease;
}

.emojis__tabs {
    display: flex;
    align-items: center;
    height: 50px;
}

.emojis__tab {
    flex: 1;
    padding: 10px 5px 10px;
    text-align: center;
    position: relative;
}

.emojis__tab--active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(0, 150, 136);
}

.emojis__tab-icon {
    color: rgba(0, 0, 0, 0.32);
}

.emojis__tab--active .emojis__tab-icon {
    color: rgba(0, 0, 0, 0.6);
}

.emojis__content {
    overflow-y: scroll;
    padding: 5px 20px;
    flex: 1;
}

.emojis__search {
    height: 40px;
    background: #E6E6E6;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(74, 74, 74);
    font-size: 0.9rem;
}

.emojis__search::placeholder {
    color: #989898;
}

.emojis__label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.85rem;
}

.emojis__grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.emojis__emoji {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

/* End Emoji Tray */

/* Chat Footer Toolbar */

.chat__input-wrapper {
    background-color: #EFF7F9;
    padding: 10px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.chat__input-icon {
    color: #919191;
    margin-left: 8px;
    margin-right: 8px;
    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
}

.chat__input-icon--highlight {
    color: teal;
}

.chat__attach {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}

.chat__attach-btn {
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease;
}

.chat__attach-btn:nth-of-type(1) {
    transition-delay: 0.5s;
}

.chat__attach-btn:nth-of-type(2) {
    transition-delay: 0.4s;
}

.chat__attach-btn:nth-of-type(3) {
    transition-delay: 0.3s;
}

.chat__attach-btn:nth-of-type(4) {
    transition-delay: 0.2s;
}

.chat__attach-btn:nth-of-type(5) {
    transition-delay: 0.1s;
}

.chat__attach--active .chat__attach-btn {
    transform: scale(1);
    opacity: 1;
}

.chat__attach-btn {
    margin-bottom: 10px;
}

.chat__input-icon--pressed {
    background: rgba(0, 0, 0, 0.1);
}

.chat__input {
    background: white;
    color: rgb(74, 74, 74);
    padding: 20px 10px;
    border-radius: 7px;
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}

.chat__input:focus {
    outline: none;
}

.chat__input::placeholder {
    color: rgb(153, 153, 153);
    font-size: 0.9rem;
}

/* End Chat Footer Toolbar */

/* Chat Sidebar */

.chat-sidebar {
    width: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.chat-sidebar--active {
    flex: 30%;
}

.chat-sidebar__header-icon {
    margin-right: 20px;
    color: rgb(145, 145, 145);
}

.chat-sidebar__heading {
    flex: 1;
    color: #000000;
    font-size: 1rem;
    margin-bottom: 7%;
}

.chat-sidebar__content {
    flex: 1;
}

.chat-sidebar__search-results {
    background: white;
    height: 100%;
    padding-top: 5pc;
    color: #00000099;
    text-align: center;
    font-size: 0.85rem;
}

.profile {
    background: rgb(237, 237, 237);
}

.profile__section {
    background: white;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
    padding: 10px 20px;
}

.profile__section--personal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10% 20px;
}

.profile__avatar-wrapper {
    width: 200px;
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-avatar {
    width: 45px;
    height: 45px;

}

.large-avatarProfile {
    width: 15rem;
    height: 15rem;

}

.chat__msg-audio {
    width: 15rem;
    height: 50px;
}

.profile__name {
    flex: 1;
    color: #000000;
    font-size: 1.2rem;
    align-self: center;
}

.profile__profile {
    flex: 1;
    color: #000000;
    font-size: 1.4rem;
    align-self: center;
    font-weight: 500;
}

.profile__modelo {
    flex: 1;
    color: #000000;
    font-size: 1rem;
    align-self: center;
    font-weight: 300;
}

.profile__heading-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
}


.profile__heading {
    color: rgb(0, 150, 136);
    font-size: 0.85rem;
    flex: 1;
}

.profile__heading-icon {
    color: rgb(145, 145, 145);
}

.profile__media-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__media {
    width: 32%;
}

.profile__action,
.profile__about-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.profile__action:not(:last-of-type),
.profile__about-item:not(:last-of-type),
.profile__group:not(:last-of-type) {
    border-bottom: 1px solid #EBEBEB;
}

.profile__action-left {
    flex: 1;
}

.profile__action-text {
    display: block;
}

.profile__action-text--top,
.profile__about-item {
    font-weight: 500;
    margin-bottom: 5px;
}

.profile__action-text--bottom {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.45);
}

.profile__section--groups {
    padding-left: 0;
    padding-right: 0;
}

.profile__group,
.profile__group-heading {
    padding-left: 20px;
    padding-right: 20px;
}

.profile__group {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.profile__group:hover {
    background-color: #EBEBEB;
}

.profile__group-content {
    flex: 1;
    overflow: hidden;
}

.profile__group-avatar-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.profile__group-text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile__group-text--top {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile__group-text--bottom {
    color: #00000099;
    font-size: 0.85rem;
    overflow: hidden;
}

.profile__section--danger {
    color: rgb(223, 51, 51);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile__danger-icon {
    margin-right: 20px;
}

.profile__danger-text {
    flex: 1;
}

.label_upload {
    display: block; 
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
}

.input_upload {
    padding: 4px;
    margin: -4px;
    position: relative;
    outline: none;
  
    /* File Selector Button Styles */
    &::file-selector-button {
      border-radius: 4px;
      padding: 0 16px;
      height: 40px;
      cursor: pointer;
      border: none;
      border-color: #919191;
      background-color: #E1F2FA;
      margin-right: 16px;
  
      /*
        This is a hack to change the button label. 
        I'm hiding the default label and then 
        manually applying the width based on 
        updated icon and label.
      */
      width: 132px;
      color: transparent;
      
      /*
        Firefox doesn't support the pseudo ::before 
        or ::after elements on this input field so 
        we need to use the @supports rule to enable 
        default styles fallback for Firefox.
      */
      @supports (-moz-appearance: none) {
        color: var(--primary-color);
      }
  
      &:hover {
        background-color: #f3f4f6;
      }
  
      &:active {
        background-color: #e5e7eb;
      }
    }
  
    /* Faked label styles and icon */
    &::before {
      position: absolute;
      pointer-events: none;
      top: 14px;
      left: 16px;
      height: 20px;
      width: 20px;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
    }
    
    &::after {
      position: absolute;
      pointer-events: none;
      top: 16px;
      left: 40px;
      color: var(--primary-color);
      content: "cargar archivo";
    }
  
    /* Handle Component Focus */
    &:focus-within::file-selector-button,
    &:focus::file-selector-button {
      outline: none;
    }
  }


.p_input_upload{
    margin-top: 0.25rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #6B7280; 
}


/* End  Chat Sidebar */

@media screen and (min-width: 1301px) {
    .chat__msg {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .chat__msg {
        max-width: 50%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .chat__msg {
        max-width: 72%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .chat__msg {
        max-width: 85%;
    }
}

@media screen and (max-width: 1000px) {
    .chat-sidebar {
        transition: transform 0.1s ease;
        transform: translateX(120vw);
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .chat-sidebar--active {
        transform: translateX(0);
        transition: transform 0.1s ease;
    }
}

@media screen and (min-width: 750px) {
    .chat__msg.chat__img-wrapper {
        width: 40%;
        min-width: 31rem;
        max-width: 48px;
    }

    .chat__msg.chat__vid-wrapper {
        min-width: 10rem;
        min-height: 16rem;
        margin-left: 4rem;
    }
}